* {
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    background-color:black;
    
}
#www .st0 {
    fill: gray;
}
.wrap {
    
   width: 40%;
   
   position: absolute;
   margin: auto;
    
    top: 100px;
    left: 0;
    right: 0;

}
#secondString {
    transform-origin: 50% 80%;
    transform: rotate(0deg);
    transition: 0.2s all cubic-bezier(.45, 1.47, .75, 1.47);
    
}
#hourString {
    transform-origin: 50% 80%;
}
#minuteString {
    transform-origin: 50% 80%;
}
#z10,#z18 {
    transition: 0.2s all cubic-bezier(.45, 1.47, .75, 1.47);
    transform-origin: 50% 50%;
    
}
#z18 {
    fill:#484848;
}
#z10 {
    fill:#868686;
}
@media screen and (max-width:1000px) {
    .wrap {
        width: 90%;
    }
  
}
